# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\krmal\Downloads\servlets (2)\JavaEEHelloWorld\.idea/dataSources/
/../../../../../../../:\Users\krmal\Downloads\servlets (2)\SessinHandlingExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
